body {
    background-image: url(/public/assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
flex-direction: row;
}

.navbar-nav .nav-link {
font-size: 18px;
}

.navbar-brand {
font-size: 30px;
}

.nav-item {
padding: 10px;
}

.content {
    /* display: flex; */
    /* height: 100vh; */
    /* align-items: center; */
    padding-top: 50px;
}

.container {
    padding: 70px;
    /* width: 30%; */
    background-color: rgba(51,57,64, 0.9);
    color: white;
    /* height: fit-content; */
}

.album-cover {
    width: 300px;
}

.song-name {
    font-weight: 700;
}

.artist-name {
    color: gray;
}

.album-name {

}

.video {
    padding-top: 20px;
}