.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.navbar-brand {
    font-size: 30px;
}

.nav-item {
    padding: 10px;
}

nav a, nav ul {
    margin: 0 auto
}